<div id="sug" class="section-search">
    <form action="/tim-kiem/bai-hat.html" method="get" class="search">
        <input type="text" name="q" placeholder="Nhập nội dung cần tìm" class="input-txt" autocomplete="off">
        <span class="input-btn">
                    <button type="submit" class="zicon btn hide-text">Tìm kiếm</button>
                </span>
    </form>
    <div id="sugResult" class="fn-result suggestion-2 mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar"
         style="overflow: visible; height: auto;">
        <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_outside" tabindex="0">
            <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
                 style="position: relative; left: 0px; top: 0px;" dir="ltr">
                <ul>
                    <li id="sugTopKeyword" class="none">
                        <ul class="fn-list" style="cursor: pointer;">
                            <li id="tplTopKeyword" class="none fn-item">
                                <div class="meta-search">
                                    <a class="ellipsis pad-top-5">
                                        <span class="fn-name"></span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li id="sugTop" class="">
                        <div class="title-row"><span class="ics zicon ics-song"></span>Top Kết Quả</div>
                        <ul class="fn-list"></ul>
                    </li>
                    <li id="sugArtist" class="">
                        <div class="title-row"><span class="ics zicon ics-artist"></span>Nghệ Sĩ</div>
                        <ul class="fn-list"></ul>
                    </li>
                    <li id="sugSong" class="">
                        <div class="title-row"><span class="ics zicon ics-song"></span>Bài Hát</div>
                        <ul class="fn-list">
                            <li id="tplSugSong" class="fn-item">
                                <a class="fn-link track-log" href="/bai-hat/Cung-Anh-Ngoc-Dolil-Hagi-STee/ZW9A7W00.html"
                                   title="Cùng Anh - Ngọc Dolil, Hagi, STee">
                                    <div class="meta-search">
                                        <p class="ellipsis pad-top-5">
                                            <span class="fn-name">Cùng <strong class="mark">Anh</strong></span>
                                            <br>
                                            <span class="fn-artist txt-info">Ngọc Dolil, Hagi, STee</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="sugAlbum" class="">
                        <div class="title-row"><span class="ics zicon ics-album"></span>Album</div>
                        <ul class="fn-list"></ul>
                    </li>

                    <li id="sugVideo" class="">
                        <div class="title-row"><span class="ics zicon ics-video"></span>Video</div>
                        <ul class="fn-list"></ul>
                    </li>
                </ul>
            </div>
        </div>
        <div id="mCSB_1_scrollbar_vertical"
             class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical mCSB_scrollTools_onDrag_expand"
             style="display: none;">
            <div class="mCSB_draggerContainer">
                <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
                     style="position: absolute; min-height: 30px; height: 0px; top: 0px;" oncontextmenu="return false;">
                    <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                </div>
                <div class="mCSB_draggerRail"></div>
            </div>
        </div>
    </div>
</div>