.img_sug {
    width:30px;
    height:30px;
    border-width:3px;
    border-color: #ffffff;
    border-style:solid;
    margin:5px;
    float:left;
}
.text_sug {
    text-align: center;
    float: left;
}
.sug_row {
    align-items: center;
    margin:auto;
    display: flex;
    margin-top: 1px;
}

.sug_row:hover{
    border: 1px solid blue;
    cursor: pointer;
}
 a{
     text-decoration: none;
 }

.search_bar{
    width: 1000px;
    margin: 0 auto;
}

/*the following one is used for the film info-page*/
.img_bio_film{
    display: block;
    max-width:500px;
    max-height:340px;
    width: auto;
    height: auto;
    margin: auto ;
}
.highlight_text{
    color: #66ccff;
    font-weight: bold;
    font-size: large;
}